<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %} {% endblock title %}
  </title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  {% include "partials/nav.html" %}
  {% include "partials/messages.html" %}
  <main class="min-h-screen bg-slate-100 dark:bg-slate-200">
    {% block content %}{% endblock content %}
  </main>
</body>
</html>