{% extends 'base/base.html' %}

{% block title %} Market Page {% endblock %}

{% block content %}
  <div class="flex flex-col md:flex-row mx-5">
    <div class="md:w-2/3">
      <h2 class="text-2xl font-semibold">Available items on the Market</h2>
      <p class="mt-2">Click on one of the items to start buying</p>
      <br />
      <table class="min-w-full table-auto bg-gray-800 text-gray-200">
        <thead class="bg-gray-700">
          <tr>
            <th class="px-4 py-2 text-left">ID</th>
            <th class="px-4 py-2 text-left">Name</th>
            <th class="px-4 py-2 text-left">Barcode</th>
            <th class="px-4 py-2 text-left">Price</th>
            <th class="px-4 py-2 text-left">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            {% include 'partials/items_modals.html' %}
            <tr class="bg-gray-700 hover:bg-gray-600">
              <td class="border border-gray-600 px-4 py-2">{{ item.id }}</td>
              <td class="border border-gray-600 px-4 py-2">{{ item.name }}</td>
              <td class="border border-gray-600 px-4 py-2">{{ item.barcode }}</td>
              <td class="border border-gray-600 px-4 py-2">{{ item.price_formatted }}</td>
              <td class="border border-gray-600 px-4 py-2">
                <button class="px-4 py-2 mr-2 text-white bg-blue-500 rounded hover:bg-blue-400" onclick="openModal('Modal-MoreInfo-{{ item.id }}')">More Info</button>
                <button class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-400" onclick="openModal('Modal-PurchaseConfirm-{{ item.id }}')">Purchase this Item</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="md:w-1/3 md:ml-8 mt-8 md:mt-0">
      <h2 class="text-2xl font-semibold">Owned Items</h2>
      <p class="mt-2">Click on sell item to put an item back on the Market</p>
      <br />
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% for owned_item in owned_items %}
          {% include 'partials/owned_items_modals.html' %}
          <div class="bg-gray-800 text-gray-200 p-4 rounded">
            <h5 class="text-lg font-semibold">{{ owned_item.name }}</h5>
            <button type="button" class="w-full mt-2 mb-4 px-4 py-2 text-white bg-red-500 rounded hover:bg-red-400" onclick="openModal('Modal-SellingConfirm-{{ owned_item.id }}')">Sell this Item</button>
            <p><strong>This item costs {{ owned_item.price_formatted }}</strong></p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='js/items.js') }}"></script>
{% endblock scripts %}