{% extends 'base/base.html' %}

{% block title %} MARKET PAGE {% endblock title %}

{% block content %}
  <h1 class="text-green-900 text-2xl">Market Page</h1>

  <table class="w-full min-w-max table-auto dark:bg-gray-800 dark:text-gray-100 mt-4">
    <thead>
      <tr>
        <!-- Column Headers -->
        <th class="px-4 py-2 text-left">ID</th>
        <th class="px-4 py-2 text-left">Name</th>
        <th class="px-4 py-2 text-left">Barcode</th>
        <th class="px-4 py-2 text-left">Description</th>
        <th class="px-4 py-2 text-left">Price</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through the items and create table rows -->
      {% for item in items %}
      <tr>
        <td class="border border-black dark:border-gray-700 px-4 py-2">{{ item.id }}</td>
        <td class="border border-black dark:border-gray-700 px-4 py-2">{{ item.name }}</td>
        <td class="border border-black dark:border-gray-700 px-4 py-2">{{ item.barcode }}</td>
        <td class="border border-black dark:border-gray-700 px-4 py-2">{{ item.description }}</td>
        <td class="border border-black dark:border-gray-700 px-4 py-2">{{ item.price }}$</td>
        <td class="border border-black dark:border-gray-700 px-4 py-2">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">More Info</button>
          <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Purchase This Item</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
